# plotGoogleMaps NAMESPACE file

import(lattice)
import(sp)
import(rgdal )
importFrom("raster", raster, projectRaster )
importFrom("maptools", GE_SpatialGrid,ContourLines2SLDF)
import(spacetime)
  
importFrom("grDevices", "col2rgb", "colorRampPalette", "dev.cur",
           "dev.off", "png", "rainbow", "rgb")
importFrom("graphics", "axis", "image", "par", "pie", "polygon",
           "rect", "segments", "text")
importFrom("methods", "as", "slot", "slotNames")
importFrom("stats", "quantile")
importFrom("utils", "browseURL")
  
export(bubbleGoogleMaps,
       bubbleSP,
       ellipseGoogleMaps,
       elSPDF,
       iconlabels,
       pieSP,
       plotGoogleMaps,
       PolyCol,
       segmentGoogleMaps,
       stplotGoogleMaps,
       vectorsSP,
       stfdfGoogleMaps,
       mcGoogleMaps,
       symbolGoogleMaps,
       heatmapGoogleMaps)
